<ion-header>
  <ion-navbar>
    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Timetable</ion-title> <!-- {{today | date:'d MMMM'}} -->

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

<!-- Old code
<ion-list>
  <ion-item *ngFor="let lecture of handbookData.items | async">
    {{lecture.title}} - {{lecture.location}}
  </ion-item>
</ion-list> -->

<div [ngSwitch]="period">

<!-- Ring
    <div class="row img-center" *ngIf="!groups">
		<img height="35" src="assets/img/ring.svg">
</div> -->

<div *ngSwitchCase="'today'"> 
<ion-list #scheduleList [hidden]="shownSessions === 0">

    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <ion-item-divider sticky>
        <ion-label>
          {{group.time}}
        </ion-label>
      </ion-item-divider>

      <ion-item *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.topic[0] | lowercase" [hidden]="session.hide">

        <button ion-item (click)="goToSessionDetail(session)">
          <h3>{{session.name}}</h3>
          <p>
            {{session.timeStart}} &mdash; {{session.timeEnd}}. {{session.location}}
          </p>
        </button>

      </ion-item>

    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
      No Sessions Found
  </ion-list-header>
</div>

<div *ngSwitchCase="'week'">

  <ion-item-divider text-center sticky>
    <ion-label>
      <h2>Week {{today | week}}</h2>
    </ion-label>
  </ion-item-divider>

  <ion-card class="cards-list-demo">

  <ion-card-header>
    Monday
  </ion-card-header>

  <ion-list>
    <button ion-item>
      <ion-icon name="ios-clock-outline" md="ios-clock-outline" item-left></ion-icon>
      <h2>9:00 Interaction</h2>
      <p>Room eaa-R104 1.27</p>
    </button>

    <button ion-item>
      <ion-icon ios="ios-clock-outline" md="ios-clock-outline" item-left></ion-icon>
      <h2>10:30 Communication</h2>
      <p>Room eaa-R104 S.30</p>
    </button>

    <button ion-item>
      <ion-icon ios="ios-clock-outline" md="ios-clock-outline"  item-left></ion-icon>
      <h2>13:00 Communication</h2>
      <p>Room eaa-R104 S.30</p>
    </button>
  </ion-list>

  </ion-card>

  <ion-card class="cards-list-demo">

  <ion-card-header>
    Tuesday
  </ion-card-header>

  <ion-list>
    <button ion-item>
      <ion-icon name="ios-clock-outline" md="ios-clock-outline" item-left></ion-icon>
      <h2>9:00 Interaction</h2>
      <p>Room eaa-R104 1.27</p>
    </button>

    <button ion-item>
      <ion-icon ios="ios-clock-outline" md="ios-clock-outline" item-left></ion-icon>
      <h2>10:30 Interaction</h2>
      <p>Room eaa-R104 S.30</p>
    </button>

    <button ion-item>
      <ion-icon ios="ios-clock-outline" md="ios-clock-outline"  item-left></ion-icon>
      <h2>13:00 Interaction</h2>
      <p>Room eaa-R104 S.30</p>
    </button>
  </ion-list>

  </ion-card>

  <ion-card class="cards-list-demo">

  <ion-card-header>
    Wednesday
  </ion-card-header>

  <ion-list>
    <button ion-item>
      <ion-icon name="ios-clock-outline" md="ios-clock-outline" item-left></ion-icon>
      <h2>9:00 Communication</h2>
      <p>Room eaa-R104 1.27</p>
    </button>

    <button ion-item>
      <ion-icon ios="ios-clock-outline" md="ios-clock-outline" item-left></ion-icon>
      <h2>10:30 Communication</h2>
      <p>Room eaa-R104 S.30</p>
    </button>

    <button ion-item>
      <ion-icon ios="ios-clock-outline" md="ios-clock-outline"  item-left></ion-icon>
      <h2>13:00 Communication</h2>
      <p>Room eaa-R104 S.30</p>
    </button>
  </ion-list>

  </ion-card>

</div>

<div text-center *ngSwitchCase="'month'">
  <ion-item-divider text-center sticky>
    <ion-label>
      <h2> {{today | date:'MMMM'}}</h2>
    </ion-label>
  </ion-item-divider>
  
  <ion-card>
    <ion-card-content>
    <h2></h2>
    <p>Month view to be shown here.</p>
    </ion-card-content>
  </ion-card>

</div>

</div>


</ion-content>

<ion-footer no-border>
  <ion-toolbar>

    <!-- Segment buttons with text -->
    <ion-segment [(ngModel)]="period" color="primary">
    <ion-segment-button value="today">
      Today
    </ion-segment-button>
    <ion-segment-button value="week">
      Week
    </ion-segment-button>
    <ion-segment-button value="month">
      Month
    </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-footer>
