<ion-header>

  <ion-navbar>
    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment>
      <ion-segment-button value="all">
        All events
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

  </ion-navbar>

</ion-header>

<ion-content>

<ion-list>

  <ion-item *ngFor="let event of handbookData.items | async" (click)="getEventDetails(event)" detail-push>
    <p *ngIf="!event">
    Loading...
    </p>
    <ion-thumbnail *ngIf="event" item-left>
      <img src="assets/img/thumbs/{{event.image}}">
    </ion-thumbnail>
      <h2 *ngIf="event">{{event.title}}</h2>
      <p *ngIf="event">{{event.date}}</p>
  </ion-item>
</ion-list>

</ion-content>
